<?php
$title = $this->translate('Contact Us');
$this->pageTitle($title);
$array = array(
    'elements' => array(
        'email' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'contactNumber' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
       
    )
);
?>
<div class="row">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">


        <div class="cool-block">
            <div class="cool-block-bor">

                <h3 class="heading"><?php echo $title; ?></h3>
                <hr>
                <?php echo $this->flashMessenger(); 
                $form = $this->form;
                $this->sbForm($form, $array);
                echo $this->form($form, null);
                ?>

            </div>   
        </div>

    </div>
</div>
