<?php
use Contact\Api\ContactApi;

use File\Api\FileApi;

/* @var $item BlucartGrid\Option\Helper\DetailItem */
$item = $this->item;
$params = $this->params;
$contactId = $params ['id'];
$item->setTitle ( 'Message' );
ob_start ();
$result = ContactApi::getContactById ( $contactId );
if ($result) {
	?>
<div class="message">
<?php
	echo $result->message;
	?>

<div class="clear"></div>
</div>
<?php
} else {
	?>
<div class='no-results'><?php echo $this->translate('no result found!');?></div>

<?php
}
?>

<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 1000 );
?>